body.login {
	font-family: verdana;
	color: #DEDEDE;
	background-color: black;
	font-size: 12px;
}
body.login div#login {
    margin: auto;
    padding: 30px 0 0;
    width: 320px;
}
body.login div#login h1 {}
body.login div#login h1 a {
	padding-bottom:10px;
	background-size: 326px 67px;
	width:326px;
	text-indent: 0px;
}
body.login div#login form#loginform {
	background-color: black;
	border: 1px solid #333;
    box-shadow: 0 4px 10px -1px rgba(100, 100, 100, 0.7);
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #222222;
	background-color: #333333;
	color: #999999;
	padding: 5px 3px 3px 5px;
}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
	border-radius: 20px 20px 20px 20px;
	border: 2px double #222222;
	font-weight: normal;
	margin: 0;
	padding: 3px 15px;
	background: #BB0506;
	background: -moz-linear-gradient(#770506, #BB0506);
	background: -o-linear-gradient(#770506, #BB0506);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#770506), to(#BB0506)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#770506, #BB0506);
	color: #FFFFFF;
	line-height: 100%;

}
body.login div#login form#loginform p.submit input#wp-submit:hover {
	background: #880506;
	background: -moz-linear-gradient(#770506, #880506);
	background: -o-linear-gradient(#770506, #880506);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#770506), to(#880506)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#770506, #880506);
	
}

body.login div#login p#nav {
	text-shadow:none;
}
body.login div#login p#nav a {
	color: #787878 !important; /* Your link color. */
}
body.login div#login p#backtoblog {
	text-shadow:none;
}
body.login div#login p#backtoblog a {
	color: #787878 !important;
}

div.error, .login #login_error {
    background-color: #000000;
    border-color: #CC0000;
}
div.error, .login #login_error a {
    color: #787878;
}

